{% extends 'base.html' %}

{% block content %}
    <!-- <h4>URL</h4>
	<h5><a href="{# request.url #}">{# request.url #}</a></h5> -->

    <h1>Список пациентов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Дата Рождения</th>
                <th>Домашний Адрес</th>
                <th>Данные пациента</th>
                <th>Действия</th> <!-- Заголовок для колонки действий -->
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.full_name }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.birth_date.strftime('%d %B %Y') }}</td>
                <td>{{ patient.home_address }}</td>
                <td>{{ patient.person_details }}</td>
                <td>
                    <!-- Перейти на страницу с историей приемов -->
                    <a href="{{ url_for('patients.appointments', patient_id=patient.id) }}" class="btn btn-primary">
                        Осмотры
                    </a>
                    <!-- Кнопка для удаления с модальным окном подтверждения -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.id }}">
                        Удалить
                    </button>
                </td>
            </tr>

            <!-- Модальное окно для подтверждения удаления -->
            <div class="modal fade" id="deleteModal{{ patient.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Удаление записи</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить запись о пациенте <strong>{{ patient.full_name.strip() }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <form method="post" action="{{ url_for('patients.delete_patient', patient_id=patient.id) }}">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>

     <!-- Кнопка для открытия модального окна -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить пациента
    </button>

    <!-- Модальное окно для добавления пациента -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить пациента</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{{ url_for('patients.add_patient') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="middle_name" class="form-label">Отчество</label>
                            <input type="text" class="form-control" id="middle_name" name="middle_name">
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">Пол</label>
                            <select class="form-select" id="gender" name="gender" required>
                                <option value="" selected disabled hidden>Не выбран</option>
                                <option value="Male">Мужской</option>
                                <option value="Female">Женский</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="birth_date" class="form-label">Дата Рождения</label>
                            <input type="date" class="form-control" id="birth_date" name="birth_date" min="1900-01-01" required>
                        </div>
                        <div class="mb-3">
                            <label for="home_address" class="form-label">Домашний Адрес</label>
                            <input type="text" class="form-control" id="home_address" name="home_address" required>
                        </div>
                        <div class="mb-3">
                            <label for="person_details" class="form-label">Данные пациента</label>
                            <input type="text" class="form-control" id="person_details" name="person_details">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}